*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}
a{
    text-decoration: none;
}
h2{
    color: rgb(41, 41, 41);
}
p{
    color: #919191;
    font-size: small;
    margin: 1rem 0;
    line-height: 1.5;
}
section{
    position: relative;
    width: 1050px;
}
.btn-primary {
    color: white;
    background: rgb(255, 43, 114);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    border: none;
}
/* header styles */
header{
    background: #fff0f4;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    color: rgb(41, 41, 41);
    font-size: 3rem;
    margin: 1.6rem 0;
}
header img{
    width: 400px;
}
header a{
    color: white;
    font-weight: 300;
}
.header-content{
    width: 450px;
}


/* Main Section Style */
main{
    position: relative;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* featured section styles */
.featured{
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 5rem 0;
}
.featured-description{
    width: 480px;
    text-align: center;
}
.featured-flowers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    margin: 2rem 0 4rem 0;
}
.flower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}
.flower a{
    text-decoration: underline;
    color: rgb(14, 14, 14);
    font-weight: bold;
    line-height: 1.2;
}
.flower img{
    padding: 3rem 3rem 0 3rem;
    border-radius: 160px 160px 0 0;
    width: 300px;
}
#pink img{
    background: rgb(255, 215, 229);
}
#bouquet img{
    background: #bef7ff;
}
#tulip img{
    background: #feffca;
}


/* services section style */
.services{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #ebebeb;
    border-radius: 10px;
    padding: 2rem 5rem;
    width: 950px;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service img{
    width: 60px;
}
.service p{
    color: rgb(68, 68, 68);
    font-size: 1rem;
}



/* Deals section Style */

.deals{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    column-gap: 5rem;
    background: #ffedf5;
    width:100%;
    padding: 2rem 0;

}
.deals span{
    color: rgb(255, 43, 114);
}
.deals img{
    width: 240px;
}
.deal-contents{
    width: 380px;
}


/* Instagram section style */
.instagram{
    padding: 5rem 0;
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.instagram p{
    width: 480px;
    text-align: center;
}
.instagram img{
    width: 230px;
}
.instagram-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* review section styles */
.reviews{
    position: relative;
    width: 950px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 5rem;
    margin: 2rem 0 5rem 0;
}
.review-contents{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2rem;
}
.review{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem 1rem;
    border-radius: 10px;
}
.review h3{
    color: rgb(255, 43, 114);
}
.review img{
    width: 100px;
    border-radius: 100%;
    margin-bottom: 1rem;
}

/* Subscription section styles */
.subscription{
    width: 950px;
    margin: 5rem 0;
    text-align: center;
    background: url("img/Rectangle%209.png");
    background-size: cover;
    padding: 5rem;
}
.subscription input{
    padding: 1rem 1.5rem;
    width: 50%;
    border: none;
    border-radius: 5px;
    margin: 1rem;
}

/* footer style */
footer{
    width: 100%;
    background: rgb(0, 0, 0);
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}
footer span{
    color: rgb(255, 43, 114);
}
footer p{
    width: 480px;
}
footer h1{
    color: white;

}
.copyright{
    color: #cecece;
}