*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}

/* header styles */
header{
    background: #fff0f4;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-content{
    width: 450px;
}
header h1{
    color: rgb(14, 14, 14);
    font-size: 3rem;
    margin: 1.6rem 0;
}
header p{
    color: #5a5a5a;
    font-size: small;
    margin: 1rem 0;
    line-height: 1.5;
}
header img{
    width: 400px;
}
header a{
    color: white;
    font-weight: 300;
}
header button{
    color: white;
    background: rgb(255, 43, 114);
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    border: none;
}
